<p style="color: green"><%= notice %></p>

<%= render @product %>


<%= link_to "View Variants here", product_variants_path(@product) %>

<hr />
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>